future~=1.0.0
requests~=2.32.3
boto3~=1.34.119
botocore~=1.34.119
crontab~=1.0.1
PySide6~=6.7.1
PyAutoGUI~=0.9.53
PyGetWindow~=0.0.9
xlrd~=2.0.1
urllib3~=1.26.18
transitions~=0.9.0
pycognito~=2024.5.1
aioconsole~=0.7.1
pyqtgraph~=0.13.7
pynput~=1.7.6
Pillow~=10.3.0
qasync~=0.27.1
py-cpuinfo~=9.0.0
schedule==1.2.2
numpy~=1.26.4
opencv-python==4.10.0.82
beautifulsoup4~=4.12.3
pdf2image==1.17.0
pytz==2024.1
tzlocal==5.2
python-crontab==3.1.0
pandas==2.2.2
openpyxl==3.1.2
pypdf2==3.0.1
ping3==4.0.8
esprima==4.0.1
colorlog==6.8.2
requests-aws4auth~=1.2.3
rarfile~=4.0
qtpy~=2.4.1
jedi~=0.19.1
setproctitle~=1.3.3
aiohttp~=3.9.5
pyscreeze==0.1.30
sqlalchemy==2.0.30
cryptography==42.0.7
typing-extensions==4.12.1
chardet==5.2.0
keyboard==0.13.5
fuzzywuzzy==0.18.0
pyobjc~=10.3
pyobjc-framework-Quartz~=10.3