# Windows specific dependencies
-r requirements-base.txt

# Windows specific packages
pywin32>=310; platform_system == "Windows"
pywin32-ctypes>=0.2.2; platform_system == "Windows"
pywifi>=1.1.12; platform_system == "Windows"
comtypes>=1.2.0; platform_system == "Windows"  # Required by pywifi for COM interface
