# Remove agents via Lambda (input is [ID])
{
  "version": "2017-02-28",
  "operation": "Invoke",
  "payload": {
    "arguments": {
      "input": $utils.toJson($context.arguments.input)
    },
    "identity": {
      "claims": $utils.toJson($context.identity.claims)
    },
    "info": {
      "fieldName": "$context.info.fieldName",
      "parentTypeName": "$context.info.parentTypeName"
    }
  }
}
