# Get all mine for the caller
{
  "version": "2017-02-28",
  "operation": "Invoke",
  "payload": {
    "arguments": {},
    "identity": {
      "claims": $utils.toJson($context.identity.claims)
    },
    "info": {
      "fieldName": "$context.info.fieldName",
      "parentTypeName": "$context.info.parentTypeName"
    }
  }
}
